{% extends 'base/membase.html' %}

{% block title %}Alternate Currencies
{% endblock %}

{% block content1 %}
<h2>Mission</h2>
<p>LoveBucks (LB) is a complementary currency system strengthening local organizations,  empowering individuals and building community in the neighborhoods of North Philadelphia.</p>

<img class="img-responsive" src="{{ 'http://aldianews.com/sites/default/files/DSC_0014.JPG' }}" alt="">    

<hr>

<h2>Goals</h2>
<ul>
	<li>Assist neighborhood organizations in meeting their needs</li>
	<li>Empower individuals who are un/underemployed by providing opportunities for work</li>
	<li>Leverage the knowledge, skills and passions of local residents</li>
	<li>Help locally owned businesses</li>
	<li>Keep money circulating in the local economy</li>
	<li>Strengthen local supply chains</li>
	<li>Build community and trust in our neighborhoods</li>
</ul>

<hr>
{% endblock %}
{% block content2 %}

<h2>How it Works</h2>

<h3>Getting LoveBucks</h3>
<p>You can get LoveBucks by either converting US Dollars (USD) to LoveBucks(LB), or by working on a project at one of the neighborhood organizations and receiving pay in LoveBucks. You can also get LoveBucks by accepting them as change at a participating business, or by listing your services in the LoveBucks Marketplace. </p>
<hr>
<h3>Converting US Dollars to LoveBucks</h3> 
<p>This is the easiest way to start using LoveBucks. Just stop by one of our exchange locations and convert your USDs to LBs! You will receive 10$LB for $10.</p>
<hr>
<h3>Working for LoveBucks</h3>
<p>If you are looking to help a local organization with one of their projects, you can get paid in LBs. This is a great way to meet your neighbors, improve your community and get rewarded for your work! This is also a great way to start earning LBs if you don’t have a lot of USDs to spare.</p>
<hr>
<h3>Using LoveBucks</h3>
<p>Once you have some LoveBucks, you can spend them at participating businesses or employ residents offering their skills and talents in the LoveBucks Marketplace.</p> 
{% endblock %}