<!doctype html>

<html lang="en">
<head>
	<title>Check-in</title>
	<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<!--Insert your content here -->
	<center>	
	<h1>North Bucks Biatch!</h1><br><br><br>
	<form action="/register/" method="post">
		<input placeholder="name" type="text" id="username" name="username"><br>
		<input placeholder="image" type="text" id="userimage" name="userimage"><br>
		<input placeholder="long" type="text" id="long" name="long"><br>
		<input placeholder="lat" type="text" id="lat" name="lat"><br>
		<input type="submit" value="send">
	</form>
	</center>
</body>
</html>