{% extends 'base/membase.html' %}
{% load staticfiles %}
<!-- <!DOCTYPE html> -->
{% block content01 %}

<div class="home-top">
    <div class="intro-header">
        <div class="container">

            <div class="row">
                <div class="col-lg-12">
                    <div class="intro-message">
                        <h1>Love Bucks</h1>
                        <h3>Currency for Investing in Community</h3>
                        <hr class="intro-divider">
                        <ul class="list-inline intro-social-buttons">
                            <li>
                                <a href="https://twitter.com/northbucks19125" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
                            </li>
                            <li>
                                <a href="https://github.com/Alexander-M-Waldman/Alternative-Currency-Simulation.git" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                            </li>
                            <!-- <li>
                                <a href="#" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                            </li> -->
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container -->
    </div>
    <!-- /.intro-header -->
    <!-- Overlay -->
    <div class="overlay">
        <div class="container">
            <div class="row">
            <div class="span24 text-center">
                    <div class="overlay-content">
                        <h1 id=header-overlay-h1>LoveBucks</h1>
                        <!-- <img src="http://themeshifters.com/themes/omni/multi-page/demo/logo-big.png" alt="" /> -->
                        <div class="element-fader">
                             <ul class="texts">
                                <li>Some Title</li>   
                                <li>Another Title</li>
                            </ul>
                        </div>
                    </div>
            </div>
            </div>
        </div>
    </div>
    <!-- // End Overlay -->
</div>


{% endblock %}

{% block content1%}

    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading">An Alternative Currency <br>fractional reserve system:</h2>
    <p class="lead">When North Bucks are purchased, $1 USD for 1 NB, extra NBs can be generated, until the reserve fraction, or ratio of NBs backed by USDs is reached</p>
    <img class="img-responsive" src="{{ 'http://www.bymysideparenting.org/human%20mandala%20plain.jpg' }}" alt="">    


{% endblock %}

{% block content2 %}
    
    <hr class="section-heading-spacer">
    <div class="clearfix"></div>
    <h2 class="section-heading">Small Business Loans<br>Closing the Loop</h2>
    <p class="lead">Turn your 2D designs into high quality, 3D product shots in seconds using free Photoshop actions by <a target="_blank" href="http://www.psdcovers.com/">PSDCovers</a>! Visit their website to download some of their awesome, free photoshop actions!</p>
    <img class="img-responsive" src="{{ 'http://www.industrytap.com/wp-content/uploads/2014/11/aeroponics.jpeg.pagespeed.ce.oqEhK_8ZMu.jpg' }}" alt="">

{% endblock %}



